<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /greekintro/
    RewriteRule lesson-1.php index.php [R,L]
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule (.*) $1.php [L]
</IfModule>
